<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Todolist</title>
    <link rel="stylesheet" href="src/css/style.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- /Bootstrap -->
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /Fontawesome -->
</head>
<body>
    <div id="app">
        <div class="container">
            <!-- Login form -->
            <form @submit.prevent="login" class="g-3 mt-2 me-0" v-if="!logged">
                <label for="username">Username</label>
                <input id="username" type="text" v-model="username">
                <br><br>
                <label for="password">Password</label>
                <input id="password" type="password" v-model="password">
                <br><br>
                <button>Accedi</button>
            </form>
            <!-- /Login form -->
            <!-- Todolist App -->
            <div v-if="logged">
                <h1>Todolist</h1>
                <ul>
                    <li v-for="(todo, index) in todos"> {{ todo.text }}
                        <button @click="removeTodo(index)">X</button>
                    </li>
                </ul>
                <form action="" @submit.prevent="addTodo">
                    <input type="text" v-model="newTodo">
                    <button type="submit" >invia</button>
                </form>
            </div>
            <!-- /Todolist App -->
        </div>
    </div>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /Vue.js -->
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- /Axios -->
    <script src="src/js/main.js"></script>
</body>
</html>